.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.pokemon-card {
    background: #fdfdfd;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    border: 1px solid #eee;
}

.pokemon-card:hover {
    transform: translateY(-5px); /* Petit effet au survol */
    border-color: #ff0000;
}

.pokemon-name {
    text-transform: capitalize;
    font-size: 1.1rem;
    color: #333;
}

.card-id {
    color: #aaa;
    font-size: 0.8rem;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    margin: 20px auto;
    display: block;
    border: 2px solid #ddd;
    border-radius: 25px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}
.search-bar {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    margin: 20px auto;
    display: block;
    border: 2px solid #ddd;
    border-radius: 25px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.search-bar:focus {
    border-color: #ff0000;
}   